@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');


html,body {width:100%;height:100%;}

body{
    padding: 0;
    margin: 0;
}



h4 {
    text-align: center;
    margin-top: 20px;
}

.navbar-nav {
    margin-left: auto;
    margin-right: 10%;
}

/* Transparent background */
 /* .navbar.transparent.navbar-inverse .navbar-inner {
   background: rgba(0,0,0,0.4);
} */

.navbar {
 
    font-weight: bold;
}

.img-wrap {
    background-image: url('img/suit2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    max-height: 100%;
    height: 100%;

}

.row {
    --bs-gutter-x: 0;
}

a.nav-link {
    font-weight: 25px;
    color: black;
}


.img-container img {
    height: 100%;
    width: 100%;
}

.header-text{
    position: absolute;
    background-color: transparent;
    color: #1b262c;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-size: 64px;
    max-width: 30%;
    padding: 40px 40px 0 40px;
    top: 10%;
    left: 6%;
}

.header-text p{
    margin: 0;
}

.secondary-header{display: none;}

.content {
    background-color: white;
    

}


.left-pic {
    background-color: white;
    max-height: 20%;
    padding-top: 25px;
    text-align: center;
    
    
}

.left-pic img {
    width: 60%;
    
}

.right-pic {
    background-color: #f9f6f7;
    text-align: center;

}

.con-text{
    font-size: 2.5rem;
}

.text{
    font-family: 'Lato', sans-serif;
    font-size: 1.7rem;
    margin-bottom: 18%;
}

.title {
    font-size: 2.5rem;
    font-family: 'Merriweather', serif;
}


.suit-items, .shirt-items {
    max-width: 100%;
    /* width: 100%;
    min-height: 100px; */
}

.suit-items img, .shirt-items img{
    width:85%;
    
}




/*Grid rows */

.subtitle {
    font-family: 'Merriweather', serif;
    padding: 80px 0px 50px 0px;
    margin-left: 8%;
}

.line {

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1rem;
    max-width: 1000px;
    min-height: 100px;
    margin: 1rem auto;
    transition: all 250ms ease;


}

.line2 {

    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr;
    grid-template-rows: 200px 200px 200px;
    grid-gap: 1rem;
    max-width: 1000px;
    min-height: 100px;
    margin: 1rem auto;
    transition: all 250ms ease;


}

img.items {
    
    
    display: flex;
    align-items: center;
    object-fit:contain;
    background-size:contain;
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
    justify-content: center;
    overflow: hidden;
    
    transition: all 350ms ease;
}

.items2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* IMAGES IN THE BOTTOM SECTION */

.section-form {
    margin-top: 95px;
    background-color: #0B1131;
}
.container-main2 {
    max-width: 100%;
    margin-top: 8.6rem;
    
}

.split img{
    object-fit: cover;
    margin-left: -15%;
    margin-top: -2px;
}

.sign {
    display: flex;
    align-content: space-around;
    align-items:flex-start;
    justify-content: center;
    flex-direction: column;
    background-color: #0B1131;
    padding-left: 8rem;
}

.box-title {
    color: white;
    font-size: 42px;
    margin-bottom: 8%;
}

.box-mail {
    max-width: 100%;
    width: 65%;
    margin-top: 8%;
    
}

#email {
    display: flex;
    align-content: flex-start;
    border: none;
    border-bottom: 2px solid white;
    background-color: #0B1131;
    color: white;
    width: 80%;
}


.box-mail button {
    border: 2px solid white;
    width: 120px;
    
    
}


.btn-primary {
    background-color: #0B1131;
}

footer {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer p {
    text-align: center;
}




/*Media Query Breakpoints *******************/


@media(min-width: 800px) {
    
    .line, .line2{
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 300px;
        grid-gap: 2rem;
    }

}

/*800px - 991px Sign Up Form*/
@media only screen and (min-width: 800px) and (max-width: 991px) {

    .header-text {
        font-size: 3.3rem;
    }

    .title {
        font-size: 2.5rem;
        font-family: 'Merriweather', serif;
    }

    .subtitle {
        margin-left: 5%;
    }

    .secondary-header{display: none;}

    .right-pic {
        padding-top: 4rem;
        margin-top: 2rem;
    }

    .container-main2 {
        margin-left: 0;
        margin-right: 0;
        height: 50%;
    }

    .split img {
        
        height: 100%;
        width: 100%;
        margin-left: 0;
        margin-top: 0;
        
    }

    .split {
        width: 60%;
    }

    .split img {
       margin-top: -1.2px;
    }

    .sign {
        padding-left: 4rem;
        
    }

    footer p {
        margin-top: 0;
        margin-bottom: 0;
    }


}



/*Medium screen ***************************/

@media(max-width: 799px) {


    .img-wrap {
        max-width: 799px;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .header-text {
        font-size: 3rem;
    }

    .secondary-header {display: none;}

    .con-text {
        padding-top: 10%;
        font-size: 41px;
    }

    .text {
        font-size: 25px;
        margin-bottom: 10%;
    }

    .right-pic {
        margin-top: 10%;
    }

    .subtitle {
        margin-left: 5%;
    }


    /* GRID Image Configuration */

    .line {
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 24rem 24rem;
        grid-gap: 4.2rem;
        
    }



    /* Sign Up Form */

    .split img {
        display: none;

    }

    .container-main2 {
        margin-top: 3.5rem;
        
    }

    .sign {
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
    }
    



}




/*Media Query Small Screen Sizes ****************/

@media screen and (max-width: 480px) {

    

    .row {
        --bs-gutter-x:0;
    }


    .img-wrap {
        
        height: 100%;
        background-image: url('img/imgsuitbackground1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }

   

    .header-text{
        display: none;
        font-size: 34px;
        padding: 0;
    }

    .secondary-header {
        display: inline-block;
        font-size: 30px;
        padding: 0;

        position: absolute;
        background-color: transparent;
        color: #1b262c;
        font-weight: bold;
        font-family: 'Merriweather', serif;
        font-size: 26px;
        max-width: 90%;
       
        top: 5%;
        left: 26%;
    }


    .header-text br {
        display: none;
    }

    .split img {
        max-width: 480px;
        width: 100%;
    }

    .left-pic{
        padding-top: 0;
        margin-top: 3rem;
    }

    .right-pic, .con-text{
        margin-top: 4rem;
        font-size: 36px;
    }

    .text {
        font-size: 21px;
        margin-bottom: 4rem;
    }

    .con-text {
        margin-top: 0;
    }


    .title{
        font-family: 'Merriweather', serif;
    }

    .subtitle{
        margin-left: 5%;
        font-family: 'Merriweather', serif;
    }


    /* Grid Images */

   

    .line {
        
        grid-template-columns: 1fr;
        grid-template-rows: 250px 250px 250px;
        grid-gap: 4.8rem;
        
    }

    

    .items2{

        object-fit: cover;
    }


    /*Sign up form */

    .container-main2 {
        margin: 0;
        padding: 2.5rem 2.5rem;
        text-align: center;

    }

    .sign {
        padding-left: 0;
    }

    .split {
        display: none;
    }

    .box-title{
        margin-left: 0;
        text-align: left;
    }

    .box-mail{
        display: inline-flex;
        text-align: left;
    }

    .box-mail button {
        width: 100%;
        padding-left: 0;
        margin-left: 0;
    }

    .box-mail input {
        
        width: 100%;
    }

    #email {
        align-content: flex-start;
        border: none;
        border-bottom: 2px solid white;
        background-color: #0B1131;
        color: white;
        width: 80%;
    }


   


}
    
